@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components{
  .heroButton{
    @apply xs:px-3 lg:px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-main_color/40 hover:text-main_color/40
  }

  .contactInput{
    @apply outline-none bg-slate-400/10 rounded-md border-b px-2  md:px-4 py-1 md:py-3 w-full border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-main_color/40 focus:text-main_color/40 hover:border-main_color/40
  }

  h3{
    @apply pl-5
  }
}